<form name="addAccount" method="post" action="/accounts/addAccount">
  <label>কাস্টমারের নাম</label> 
  <input type="text" name="account_name" required/>
  <button type="submit">সেভ করুন</button>
</form>